<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Java"/>
      </watched>
      <auto
        name="Audit_details.java"/>
      <auto
        name="Choice.java"/>
      <auto
        name="ChoicesData.java"/>
      <auto
        name="CounsellingResult.java"/>
      <auto
        name="DbUtils.java"/>
      <auto
        name="Emp.java"/>
      <auto
        name="Login.java"/>
      <auto
        name="MainMenu.java"/>
      <auto
        name="Result.java"/>
      <auto
        name="StudentData.java"/>
      <auto
        name="StudentInformation.java"/>
      <auto
        name="StudentInformationSystem.java"/>
      <auto
        name="db.java"/>
      <auto
        name="users.java"/>
    </dir>
  </files>
</project>
