<ul>
    <li *ngFor="let item of fetched_items; let i=index">
        <h3> {{item.name}} </h3>
        <p> $ {{item.price}}</p>
        <p> Quantity: {{item.quantity}}</p>
        <button 
            *ngIf="item.price>0"
            style="background-color: blue; color: antiquewhite; font-family: 'Kalpurush'; border-radius: 20px; width: 50px; cursor: pointer;"
            (click)="requestItem(i)"
        >
            Buy
        </button>
        <button 
            *ngIf="item.price>0"
            style="background-color: brown; color: antiquewhite; font-family: 'Kalpurush'; border-radius: 20px; width: 100px; cursor: pointer; margin-left: 10px"
            (click)="updateItems(i)"
        >
            Update
        </button>
    </li>

</ul>