/* borders do not exceed the screen */
* {
    box-sizing: border-box;
}

/* Remove whitespace around any element of page */
body, html {
    height: 100%;
    margin: 0;
}

.topBar{
    border: 2px solid red;    /* border for better understanding */
    width: 100%;
    background-color: #094179;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    height: 10%;    /* set hight of top bar */
}

/* vh: A percentage of the full viewport height. 
10vh will resolve to 10% of the current viewport height. */
.mainSection{
    /* border: 2px solid red; */
    color: black;
    font-size: 20px;
    text-align: center;
    height: 80%;    /* set hight of middle section */
}

.leftSubSection{
    height: 100%;
    border: 2px solid red;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 15%;
    float: left;
}

.rightSubSection{
    height: 100%;
    background-color: bisque;
    border: 2px solid red;
    color: black;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    width: 85%;
    float: left;
}

.bottomBar {
    width: 100%;
    background-color: #b1cae3;
    border: 2px solid red;
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 13px;  /* just to put the element in center, better to use flex box */
    height: 10%;      /* set the bottom bar height */
}

#about {
    background-color: lightskyblue;
    border: 2px solid blueviolet;
}

#history {
    
    background-color: lightskyblue;
    border: 2px solid blueviolet;
}

#achievement {
    background-color: lightskyblue;
    border: 2px solid blueviolet;
}
